.tweet{
    text-align: center;
    justify-content: center;
    color: black;
    background-color: rgb(134, 161, 235);
    margin-left: 30%;
    margin-right: 30%;
}
.array{
    color: black;


    
}

